<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%- include ../../partials/message.ejs %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Kategori</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Bank</li>
          </ol>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modal-default"
                  >
                    Tambah
                  </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <%- include ./create.ejs %> <%- include ./table.ejs %>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
